<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div layout:fragment="content">
    <a th:href="@{/admin/article/{id}/update(id=${article.id})}" class="admin-view-edit-button btn btn-info">Edit Article</a>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <td th:text="${article.id}"></td>
        </tr>
        <tr>
            <th>Title</th>
            <td th:text="${article.title}"></td>
        </tr>
        <tr>
            <th>Content</th>
            <td th:text="${article.content}"></td>
        </tr>
    </table>
</div>

</body>
</html>