<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div layout:fragment="content">
    <h1 class="admin-crud-heading">Create Recipe</h1>
    <form class="admin-form admin-create-form recipes-create-form" action="#" th:action="@{/admin/recipe/create}" th:object="${recipe}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title-field">Name</label>
            <input id="title-field" class="form-control admin-input" type="text" th:field="*{title}">
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" th:field="*{category}">
                <option th:value="0" th:text="${'-- Select Category'}"></option>
                <option th:each="category : ${recipeCategories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="duration-field">Cooking duration</label>
            <input id="duration-field" class="form-control admin-input" type="text" th:field="*{duration}">
        </div>
        <div class="form-group">
            <label for="editor">Content</label>
            <textarea id="editor" name="content"></textarea>
        </div>
        <div class="form-group">
            <label for="imageFile-field">Image</label>
            <input id="imageFile-field" class="form-control" type="file" name="imageFile" />
        </div>
        <button class="admin-create-button btn btn-success">Create</button>
    </form>

    <script th:inline="javascript">
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .then( editor => {
                console.log( editor );
            } )
            .catch( error => {
                console.error( error );
            } );
    </script>
</div>

</body>
</html>