<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div layout:fragment="content">
    <h1 class="admin-crud-heading">Recipes</h1>
    <a class="admin-create-new btn btn-info" th:href="@{/admin/recipe/create}">Create new</a>
    <a class="admin-additional-button btn btn-warning" th:href="@{/admin/recipe-categories}">Recipe Categories</a>
    <table class="table admin-table recipes-table">
        <thead class="thead-dark">
            <tr class="admin-table-heading">
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="admin-table-row" th:each="recipe: ${recipes}">
                <td th:text="${recipe.id}"></td>
                <td th:text="${recipe.title}"></td>
                <td>
                    <a class="admin-action-button admin-view btn btn-primary" th:href="@{/admin/recipe/{id}(id=${recipe.id})}">View</a>
                    <a class="admin-action-button admin-update btn btn-success" th:href="@{/admin/recipe/{id}/update(id=${recipe.id})}">Update</a>
                    <a class="admin-action-button admin-delete btn btn-danger" onclick="return confirm('sure?');" th:href="@{/admin/recipe/{id}/delete(id=${recipe.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>