<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div layout:fragment="content">
    <a th:href="@{/admin/recipe/{id}/update(id=${recipe.id})}" class="admin-view-edit-button btn btn-info">Edit Recipe</a>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <td th:text="${recipe.id}"></td>
        </tr>
        <tr>
            <th>Title</th>
            <td th:text="${recipe.title}"></td>
        </tr>
        <tr>
            <th>Duration</th>
            <td th:text="${recipe.duration}"></td>
        </tr>
        <tr>
            <th>Created</th>
            <td th:text="${recipe.created_at}"></td>
        </tr>
        <tr>
            <th>Last Updated</th>
            <td th:text="${recipe.updated_at}"></td>
        </tr>
        <tr>
            <th>Content</th>
            <td th:utext="${recipe.content}"></td>
        </tr>
    </table>
</div>

</body>
</html>