// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// FontAwesome
@import "~@fortawesome/fontawesome-free/css/all.css";

// Modules
@import "~bootstrap/scss/bootstrap";

// Main
@import "./base/Base";
@import "./pages/Main";

// Pages
@import "./pages/Home";
@import "./pages/Articles";
@import "./pages/Recipes";
@import "./pages/Foods";
@import "./pages/Calculators";

// Modules
@import "./modules/Creator";
@import "./modules/UserModal";