$small-margin : 10px;
$medium-margin: 20px;
$large-margin: 30px;

$bp-small: 8px 12px;
$bp-medium: 12px 15px;

$grey: #BABEBD;
$lightgrey: #F3F8F9;
$blue-border: #4CD3E4;

$google-blue: #4285F4;
$fb-blue: #1878F3;

$content-page-bg: #F9F9F9;

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

select {
    border: none;
    outline: none;
}
select:focus {
    outline: none;
}

ol,ul,dl {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: black;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

input {
    outline: none;
}
button {
    border: none;
    outline: none;
}
button:focus {
    outline: none;
}
label {
    margin: 0;
}

// Settings
.display-flex {
    display: flex;
    align-items: center;
}

// Classes
.content-page {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $content-page-bg;
}