.meals-selector select, .meals-selector input {
    font-size: 28px;
    font-weight: 500;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px 6px;
    margin-bottom: 10px;
}
.meals-selector input {
    font-size: 20px;
    width: 100%;
}

.meals-selector .action-button {
    padding: 10px 0;
    width: 100%;
    background-color: #FF5733;
    border-radius: 5px;
    color: white;
}

.food-element-form .food-name {
    padding: 5px 8px;
}

.food-element-form .food-amount {
    padding: 5px 8px;
}

.food-element-form .food-amount-type {
    
}

.meals-list .meal-element {
    margin-bottom: 40px;
}
.meals-list .meal-element:last-child {
    margin-bottom: 0;
}
.meal-element__title__input {
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    border-radius: 5px;
    padding: 6px 10px 6px 0px;
    background-color: transparent;
    border: none;
    margin-bottom: 3px;
    transition: 0.3s;
}
.meal-element__title__input:focus {
    background-color: white;
    border: 1px solid grey;
    padding-left: 10px;
}
.meal-element__subsmall {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.creator-food-element-form {

}
.creator-food-element-form__default {
    width: 100%;
    align-items: center;
}
.creator-food-element-form__default__input {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid $grey;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.creator-food-element-form__default__button {
    font-weight: 600;
    text-align: end;
    cursor: pointer;
}
.creator-food-element__amount-selector, .creator-food-calorie, .creator-food-name {
    border-radius: 5px;
    border: 1px solid $grey;
}
.creator-food-element__amount-selector {
    display: flex;
    overflow: hidden;
}
.creator-food-name {
    width: 100%;
    margin-bottom: 10px;
}
.creator-food-element__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.creator-food-name, .creator-food-element__details input, .creator-food-element__details select {
    padding: 8px 12px;
    font-size: 16px;
}
.creator-food-amount, .creator-food-amount-type {
    border: none;
}
.creator-food-amount-type {
    
}
.creator-food-amount {

}
.creator-food-calorie {
    
}
.creator-food-element__symbol {
    font-size: 20px;
    margin: 0 10px;
}
.creator-add-food-button {
    padding: 8px 25px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #525252;
    color: white;
    background-color: $blue-border;
    font-weight: 600;
    margin-right: 10px;
}
.creator-food-element-form__cancel {
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

//Creator Actions
.creator-actions-print-button {
    width: 100%;
    padding: 12px;
    background-color: #59C2B9;
    color: white;
    font-weight: 500;
    font-size: 22px;
    border-radius: 10px;
}
.creator-actions-info-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
    color: #4CA826;
}
.creator-actions-info-calorie {
    font-weight: 700;
    font-size: 40px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
}

// List Element
.list-element-creator-parent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.list-element-creator-parent .browse-foods-list-element  {
    transition: 0.2s;
    width: 100%;
    margin-bottom: 0;
}
.list-element-creator-parent .list-element-remover {
    opacity: 0;
    width: 0;
    font-weight: 600;
    font-size: 22px;
    display: inline-flex;
    align-items: center; 
    background-color: red;
    border-radius: 10px;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}
.list-element-creator-parent:hover .browse-foods-list-element  {
    
}
.list-element-creator-parent:hover .list-element-remover {
    width: auto;
    opacity: 1;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
}