
.articles-list-element {
    
}

.articles-list-element__image {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.article-content__image {
    width: 100%;
    margin-bottom: 20px;
}

// Article Search
.articles-filter {
    margin-bottom: 30px;
}
.articles-filter__form {
    display: flex;
}
.articles-filter__search__input {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
}
.articles-filter__category__select {
    padding: 10px 40px 10px 10px;
    border: 1px solid lightgray;
    border-left: none;
}
.articles-filter__button {
    padding: 10px 30px;
    margin-left: 10px;
}