.browse-foods-search {
    margin-bottom: 40px;
}
.browse-foods-search__form {
    width: 100%;
    display: flex;
}
.browse-foods-search__input {
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px;
    width: 100%;
    margin-right: 5px;
}
.browse-foods-search__button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #1CA6B8;
    color: white;
    border-radius: 5px;
}

.browse-foods-list-element {
    background-color: #F8F9F6;
    border: 1px solid $grey;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.browse-foods-list-element__image {
    border-radius: 5px;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.browse-foods-list-element__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.browse-foods-list-element__title {
    font-size: 20px;
    margin-bottom: 5px;
}
.browse-foods-list-element__serveSelector input, .browse-foods-list-element__serveSelector select {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 12px;
}
.browse-foods-list-element__serveSelector input {
    width: 30px;
    margin-right: 3px;
    text-align: center;
}
.browse-foods-list-element__serveSelector select {
    
}
.browse-foods-list-element__calorie {
    text-align: center;
}
.browse-foods-list-element__calorie .valueC {
    font-weight: bold;
    font-size: 20px;
}
.browse-foods-list-element__calorie .desc {
    text-align: center;
}

.browse-foods-filter {
    background-color: $lightgrey;
    border: 1px solid $grey;
    padding: 20px;
    border-radius: 10px;
}
.browse-foods-filter__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}
.browse-foods-filter__categories__title {
    font-size: 14px;
    margin-bottom: 20px;
}
.browse-foods-filter__form {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.browse-foods-filter__input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.browse-foods-filter__label {
    font-weight: 500;
    font-size: 16px;
}

// Food Page
.food-page__header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    padding: 50px 20px 20px 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #384359;
}
.food-page__header__image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
}
.food-page__header__title {
    font-size: 48px;
    color: white;
    font-weight: 600;
}
.food-page__header__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.food-page__calorie {
    background-color: #FF5065;
    color: white;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.food-page__calorie__title {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
    text-decoration: underline;
}
.food-page__serveSelector {
    margin-bottom: 30px;
}
.food-page__serveSelector__amount, .food-page__serveSelector__serve {
    background-color: transparent;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}
.food-page__serveSelector__amount {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    width: 150px;
}
.food-page__serveSelector__serve {

}
.food-page__calorie__display__value {
    font-size: 36px;
    font-weight: 600;
}
.food-page__info {
    background-color: white;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
}
.food-page__info h1, .food-page__info h2, .food-page__info h3, .food-page__info h4, .food-page__info h5, .food-page__info h6 {
    margin-bottom: 20px;
    font-weight: 600;
}
.food-page__info p {
    font-size: 18px;
    line-height: 1.8;
}