.recipes-list-element {
    position: relative;
}
.recipes-list-element__time {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 1;
}
.recipes-list-element__time .small {
    font-size: 12px;
    display: block;
}
.recipes-list-element__image {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipes-list-element__title {
    font-size: 20px;
    font-weight: bold;
}

//Recipe Content
.recipe-content__title {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 30px;
}
.recipe-content__header {
    margin-bottom: 30px;
}
.recipe-content__header__category {
    background-color: #71C259;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}
.recipe-content__image {
    width: 100%;
    margin-bottom: 20px;
}
.recipe-content__image__itself {
    width: 100%;
}
.recipe-content__duration__parent {
    margin-bottom: 30px;
}
.recipe-content__duration {
    background-color: #56B7B8;
    color: white;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
}
.recipe-content__duration i {
    font-size: 30px;
    font-weight: 500;
    margin-right: 20px;
}
.recipe-content__duration small {
    font-size: 14px;
}
.recipe-content__duration strong {
    font-size: 24px;
}