<div class="sidebar-content">
    <div class="sidebar-heading"><h1>Pahriz</h1></div>
    <div class="admin-nav-parent">
        <nav class="admin-nav">
            <ul>
                <li>
                    <a th:href="@{/admin}">Dashboard</a>
                </li>
                <li>
                    <a th:href="@{/admin/users}">Users</a>
                </li>
                <li>
                    <a th:href="@{/admin/foods}">Foods</a>
                </li>
                <li>
                    <a th:href="@{/admin/articles}">Articles</a>
                </li>
                <li>
                    <a th:href="@{/admin/recipes}">Recipes</a>
                </li>
                <hr>
                <li>
                    <a class="btn btn-danger" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</div>